* {
  padding: 0px;
  margin: 0px;
}

body {
  background: #f2f9f4;
}
.bg-light {
  background-color: #fafafa !important;

  position: relative !important;
  top: 0 !important;
}

.bg-light :hover {
  top: -3px !important;
}
.names {
  color: #00c281 !important;
}
.avanza-green {
  background-color: #03c181;
}

.nav-text-color {
  color: #ffffff;
  font-weight: bold;
}

