* {
  padding: 0px;
  margin: 0px;
}

.h-20 {
  height: 40px;
}

.row-striped:nth-of-type(even) {
  background-color: #efefef;
}

.row-striped:nth-of-type(odd) {
  background-color: #ffffff;
}

body {
  background: #f2f9f4;
}

.bg-light {
  background-color: #fafafa !important;

  position: relative !important;
  top: 0 !important;

  transition: ease-out 0.1s;
}

.bg-light :hover {
  top: -3px !important;
}

.h-60 {
  height: 60vh;
}

.names {
  color: #00c281 !important;
}

.avanza-green {
  background-color: #03c181;
}

.nav-text-color {
  color: #ffffff;
  font-weight: bold;
}